/*
 *= require jquery-tablesorter/theme.default
 *= require jquery-tablesorter/addons/pager/jquery.tablesorter.pager
 */
@import url(http://fonts.googleapis.com/css?family=Raleway);

* {
  font-family: 'Raleway', sans-serif;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 5;
}

#container {
  min-height: 100%;
  margin-bottom: 81px;
}

#yield {
  display: inline-block;
  vertical-align: top;
  width: 79%;
  margin-left: 20.5%;
  margin-top: 55px;
}

#top-bar {
  margin-top: 0%;
  margin-left: 0%;
  background-color: #262625;
  padding: 10px;
  border-bottom: 1px solid #EBE9E5;
}

/*#side-panel-outer {
  background-color: #262625;
  display: inline-block;
  width: 20%;
  position: fixed;
  height: 100%;
}*/

#side-panel-inner {
  background-color: #CFCDC9;
  position: fixed;
  height: 100%;
  width: 19.5%;
  box-shadow: 1px 0px 3px #E0E0E0;
}

#search-results {
  margin-top: 20px;
}

#player_target {
  position: fixed;
  bottom: 0px;
  width: 79%;
}

.search-bar {
  font-size: 1.2em;
  width: 300px;
  margin-left: 20%;
  height: 34px;
  border-radius: 3px;
  border: 1px solid black;
}

.search-filter {
  font-size: 1.1em;
  width: 110px;
  vertical-align:top;
  height: 34px;
  border: 1px solid black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.search-button {
  display: none;
  font-size: 1.2em;
  width: 110px;
  border:1px solid #ccc;
  vertical-align:top;
  height: 36px;
  border-radius: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.search-button,
.search-bar,
.search-filter {
  background-color: white;
}

.now-playing td,
.now-playing:hover td {
  background-color: !important;
}

td.icon img {
  display: none;
}

.now-playing td.icon img {
  display: block;
  /*padding-top: 50%;
  padding-bottom: 50%;*/
}

.dl-img {
}

#dl-column-sort-fix {
  display: none;
}

#users {
  border-top: 1px solid #E0E0E0;
}

#user {
  margin-top: 15px;
  margin-left: 8px;
  border-top: 1px solid white;
  border-bottom: 1px solid #E0E0E0;
  box-shadow: 0px 2px 10px #E0E0E0;
}

#user-tracks {
  margin-left: 24px;
}

#users li,
#user li {
  list-style-type: none;
  padding-bottom: 6px;
}

#users-objects,
#user-objects {
  display: inline-block;
  padding-left: 25px;
  vertical-align: top;
  color: #868686;
}

.users-avatar,
.user-avatar {
  display: inline-block;
  border-radius: 20px;
}

#users li a,
#user li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#search-results td a {
  color: black;
  text-decoration: none;
}

#search-results td a:hover {
  text-decoration: underline;
}

.users-followers-track,
.user-followers-track {
  font-size: 14px;
}

.followers-img {
  padding-right: 5px;
  padding-left: 5px;
}

.trackcount-img {
  padding-left: 10px;
  padding-right: 5px;
  margin-top: 10px;
}

td {
  font-size: 1.2em;
}

/*td:hover {
  background-color: black;
}*/

tr th {
  font-size: 1.3em!important;
}
