/*
 *= require jquery-tablesorter/theme.default
 *= require jquery-tablesorter/addons/pager/jquery.tablesorter.pager
 */
@import url(http://fonts.googleapis.com/css?family=Raleway);

* {
  font-family: 'Raleway', sans-serif;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#container {
  min-height: 100%;
  margin-bottom: 81px;
}

#yield {
  display: inline-block;
  vertical-align: top;
  width: 79%;
  margin-left: 20.5%;
}

#side-panel {
  display: inline-block;
  background-color: grey;
  width: 20%;
  position: fixed;
  height: 100%;
}

#top-bar {
  margin-top: 0.5%;
}

#search-results {
  margin-top: 20px;
}

#player_target {
  position: fixed;
  bottom: 0px;
  width: 79%;
}

.search-bar {
  font-size: 1.2em;
  width: 78%;
  height: 30px;
  border-radius: 5px;
  padding-left: 10px;
}

.search-filter {
  font-size: 1.1em;
  width: 110px;
  border:1px solid #ccc;
  vertical-align:top;
  height: 36px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.search-button {
  font-size: 1.2em;
  width: 110px;
  border:1px solid #ccc;
  vertical-align:top;
  height: 36px;
  border-radius: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.search-button,
.search-bar,
.search-filter {
  background-color: white;
}

.now-playing td,
.now-playing:hover td {
  background-color: !important;
}

td.icon img {
  display: none;
}

.now-playing td.icon img {
  display: block;
  /*padding-top: 50%;
  padding-bottom: 50%;*/
}

.dl-img {
}

#dl-column-sort-fix {
  display: none;
}

td {
  font-size: 1.2em;
}

tr th {
  font-size: 1.3em!important;
}
