/*
 *= require jquery-tablesorter/theme.default
 *= require jquery-tablesorter/addons/pager/jquery.tablesorter.pager
 */
@import url(http://fonts.googleapis.com/css?family=Raleway);

* {
  font-family: 'Raleway', sans-serif;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /*margin-top: 80px;*/
  overflow-x: hidden;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 0;
}

#index {
  background-image: url(http://i.imgur.com/yPsTKhp.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  border: 1px solid #E0E0E0;
  box-shadow: 0px 5px 8px #E0E0E0;
  padding-top: 5%;
  padding-bottom: 100%;
}

#auth-nav-options, a {
  text-decoration: none;
  color: black;
}

#sign-up a, #sign-in a {
  padding: 20px 70px;
}

#sign-up, #sign-in {
  background-color: white;
  margin: 10px;
  display: inline-block;
  border-radius: 5px;
  padding: 20px 0;
  box-shadow: -1px 2px 2px black;
}

#sign-up:hover, #sign-in:hover {
  box-shadow: 0px 0px 0px black;
  position: relative;
  top: 1px;
}

#index-panel-noauth,
#index-panel-auth {
  text-align: center;
  /*background-color: rgba(255,255,255,0.4);*/
  height: 400px;
  position: fixed;
  width: 79%;
  margin-left: 2.5px;
}

#index-panel-noauth p,
#index-panel-auth p {
  font-size: 1.2em;
}

#index-panel-noauth h1,
#index-panel-auth h1 {
  font-size: 3.5em;
}

#p-log-in {
  padding-top: 40px;
}

#container {
  min-height: 100%;
  margin-bottom: 81px;
}

#yield {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  margin-left: 20%;
  margin-top: 55px;
}

#top-bar {
  margin-top: 0%;
  margin-left: 0%;
  background-color: #262625;
  padding: 10px;
  /*border-bottom: 1px solid #EBE9E5;*/
}

#top-bar-rim {
  height: 60px;
  margin-top: 0%;
  background-color: #E54808;
}

/*#side-panel-outer {
  background-color: #262625;
  display: inline-block;
  width: 20%;
  position: fixed;
  height: 100%;
}*/

#side-panel-inner {
  background-color: white;
  position: fixed;
  margin-top: 60px;
  margin-left: 10px;
  height: 100%;
  width: 19%;
  border-right: 3.5px solid #E0E0E0;
  /*box-shadow: 1px 0px 3px #E0E0E0;*/
}

#side-panel-inner h3 {
  margin: 5px;
  padding: 3px 0px;
  border-top: 1px solid #E0E0E0;
}

#side-panel-inner a {
  display: block;
  margin-left: 25px;
  padding: 3px 0px;
  border-top: 1px solid #E0E0E0;
}

#search-results {
  margin-top: 20px;
}

#player_target {
  position: fixed;
  bottom: 0px;
  width: 79%;
}

.search-bar {
  font-size: 1.2em;
  width: 300px;
  margin-left: 0%;
  height: 34px;
  border-radius: 3px;
  border: 1px solid black;
  vertical-align: top;
}

.search-filter {
  font-size: 1.1em;
  width: 110px;
  vertical-align:top;
  height: 34px;
  border: 1px solid black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.search-button {
  display: none;
  font-size: 1.2em;
  width: 110px;
  border:1px solid #ccc;
  vertical-align:top;
  height: 36px;
  border-radius: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.search-button,
.search-bar,
.search-filter {
  background-color: white;
}

.home {
  display: inline-block;
  margin-left: 20%;
  padding-right: 4px;
}

#log-out {
  position: absolute;
  right: 18px;
  top: 13px;
}

.now-playing td,
.now-playing:hover td {
  background-color: #E0E0E0!important;
}

td.icon img {
  padding-top: 1px;
}

.now-playing td {
  background-color: #E0E0E0;
  /*display: block;*/
  /*padding-top: 50%;
  padding-bottom: 50%;*/
}

.dl-img {
}

#dl-column-sort-fix {
  display: none;
}

#users {
  border-top: 1px solid #E0E0E0;
}

#user {
  margin-top: 15px;
  margin-left: 8px;
  border-top: 1px solid white;
  border-bottom: 1px solid #E0E0E0;
  box-shadow: 0px 2px 10px #E0E0E0;
}

#user-tracks {
  margin-left: 24px;
}

#users li,
#user li {
  list-style-type: none;
  padding-bottom: 6px;
}

#users-objects,
#user-objects {
  display: inline-block;
  padding-left: 25px;
  vertical-align: top;
  color: #868686;
}

.users-avatar,
.user-avatar {
  display: inline-block;
  border-radius: 20px;
}

#users li a,
#user li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#search-results td a {
  color: black;
  text-decoration: none;
}

#search-results td a:hover {
  text-decoration: underline;
}

.users-followers-track,
.user-followers-track {
  font-size: 14px;
}

.followers-img {
  padding-right: 5px;
  padding-left: 5px;
}

.trackcount-img {
  padding-left: 10px;
  padding-right: 5px;
  margin-top: 10px;
}

label {
  min-width: 172px;
}

input {
  width: 250px;
  line-height: 20px;
  height: 35px;
  background-color: white;
  border: 0px solid black;
  border-radius: 5px;
  font-size: 16px;
}

#accounts_new_page,
#new_session_page {
  background-image: url(http://i.imgur.com/yPsTKhp.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  border: 1px solid #E0E0E0;
  box-shadow: 0px 5px 8px #E0E0E0;
  padding-top: 5%;
  padding-bottom: 100%;
}

#accounts_new_page_container,
#new_session_container {
  position: fixed;
  /*background-color: rgba(0,0,0,0.4);*/
  width: 100%;
  height: 400px;
}

#form_accounts,
#new_session_form {
  display: inline-block;
  text-align: right;
  margin: auto;
  margin-top: 100px;
  width: 50%;
}

span {
  font-size: 14px;
  display: inline-block;
  margin-top: 17%;
  margin-left: 70%;
}

#errors_accounts ul {
  margin-left: 30%;
  list-style-type: none;
}

#flash_error {
  margin-left: 33.5%;
}

td {
  font-size: 1.2em;
}

tr th {
  font-size: 1.3em!important;
}















