<!DOCTYPE html>
<html>
<head>
  <title>Soundcloudplayer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav></nav>
  <div id="container">
    <div id="side-panel">
    </div>
    <div id="yield">
      <%= yield %>
    </div>
  </div>
</body>
</html>
